#dash-holder {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 100%;
    row-gap: 25px;
}

.dash-btn {
    width: 120px;
    height: min-content;
    padding: 10px 0px;
    font-size: 17px;
    border-radius: 10px;
    border-style: solid;
    border: solid 1px black;
    margin-left: auto;
}

.dash-ttl-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

#dash-ttl {
    width: 120%;
    justify-self: center;
    text-align: center;
    font-style: italic;
    padding: 10px 0;
    border: solid 1px black;
    font-size: 45px;
}

#income {
    font-style: italic;
    padding: 10px 15px;
    border: solid 1px black;
    width: 30%;
    min-width: min-content;
    white-space: nowrap;
}

#dash-opts {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.dash-opt {
    width: 30%;
    max-width: 350px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.dash-opt > h3{
    font-weight: normal;
    font-size: 30px;
}