#entry-holder {
    display: flex;
    align-items: center;
    padding: 50px 50px;
    flex-direction: column;
    row-gap: 10px;
}

.entry-items-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 25px;
    width: 100%;
}

.entry-items-holder > form{
    width: 100%;
    max-width: 300px;
}

.entry-items-label{
    align-self: flex-start;
    font-weight: normal;
}

#entry-items {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
    max-width: 300px;
    align-items: center;
}

#entry-items > input {
    width: 100%;
    border-style: none;
    border: solid black 1px;
    padding: 10px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#entry-items > button {
    width: 150px;
    padding: 10px 0px;
    border-radius: 10px;
    border-style: solid;
    border: solid 1px black;
}
